/* src/styles/globals.css */
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/fonts/montserrat.woff') format('woff');
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url('/fonts/playfair-display.woff') format('woff');
}

/* Global Styles */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #333333; /* Gunmetal gray */
    color: #f0f0f0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    color: #00aaff; /* Electric Blue */
}

/* Additional styles for the layout, buttons, etc. */
#canvas { /* or whatever ID/class is wrapping the canvas */
    display: block;
    width: 100%; /* Full width of the parent container */
    height: 80vh; /* Height is 80% of the viewport height */
    max-width: 1440px; /* Limit maximum width for larger screens */
    margin: 0 auto; /* Center horizontally if needed */
    touch-action: none;
    overflow: hidden;
}


  